
.navbar{
    background: rgba(0, 0, 0, 0.3);
}
.aboutSection{
    width: 100%;
    /* height: 90vh; */
    background-image: url("https://reactresume.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fheader-background.371f2b47.webp&w=1920&q=75");
    /* display: flex;
    align-items: center;
    justify-content: center;*/
    object-fit:fill; 
}
.aboutContent{
    background: rgba(0, 0, 0, 0.3);
    /* width: 60%; */
    padding: 0;
    margin: 0;
}
.aboutHeader{
    text-align: center;
    font:bold;
    color: white;
    font-weight: 700;
}
.aboutPara{
    color: white;
    text-align: center;
    font-weight: 500;
}
.fa-brands{
    color: white;
}
.aboutIcons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.aboutButtons{
    text-align: center;
}
.icons:hover{
    cursor: pointer;
    color: orange;
}

.bioSection{
    width: 100%;
    background-color: rgb(38,38,38);
    color: white;
}
.bioImage{
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
}
.bioInfo{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bioSectionPara{
    font-weight: 50;
}
.moreInfo{
    width: 100%;
    background-color: #f5f5f5;
}
.moreInfoSectionHeading{
    text-decoration: underline;
    text-decoration-color: orange;
    text-align: center;
}

.portfolioSecton{
    width: 100%;
    background-color: rgb(38,38,38);
}
.portfolioContainer{
    width: 60%;
}
.portfolioHeading{
    text-align: center;
    color: white;
}

.testimonialsSection{
    width: 100%;
    background:url("https://reactresume.com/_next/static/media/testimonial.727a457a.webp");
}
.testimonialContent{
    width: 70%;
}
.darkBgOpacity{
    background-color: rgba(38,38,38,0.3);
    color:white;
}
.testimonialImage{
    width: 15%;
    float:left;
    border-radius: 100%;
}
.testimomialtext{
    text-align: start;
}

.contactMeSection{
    width: 100%;
    background-color: rgb(38,38,38);
}
.contactMeHeading{
    color:white
}
.darkBg{
    background-color: rgb(38,38,38);
    color:white;
}
.contactMeRightSideClass{
    color: white;
}

.footer{
    width: 100%;
    text-align: center;
    background-color: black;
}
.footerTextPara{
    text-align: center;
    color:white;
}
.card-img-top{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}


@media (max-width: 900px) { 
    .testimonialImage{
        float: none;
        max-width: 100%;;
        margin: 0 50% 0 40% !important;
    }
    .alignCenter{
        text-align: center;
    }
}
